.wrapper {
    position: relative;
    border: 0px !important;
}

.wrapper span {
    position: absolute;
    top: 0px;
    right: 4px;
    min-width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: #EF4056;
    color: #fff;
}